.overlay-opacity {
    z-index: 2;
    background: rgb(42, 44, 47, 0.3);
    transition: background 0.3s;
}

.overlay-opacity:hover {
    background: rgb(42, 44, 47, 0.8);
    transition: background 0.3s;
}
